<%- include("header"); -%>

<h1>COMPOSE</h1>

<form action="/" method="POST">
    <div class="form-group">
      <label for="blog-title">Title</label>
      <input name="blogTitle" type="text" class="form-control" id="blog-title" aria-describedby="">  
    </div>

    <div class="form-group">
      <label for="">Content</label>
      <textarea name="blogContent" class="form-control" id="Content"></textarea> 
    </div>
    <button type="submit" class="btn btn-primary">POST</button>
  </form>

<%- include("footer"); -%>